# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.dist/
build/
.venv/
.env
.ipynb_checkpoints/

# Data
data/crawl_exports/*
data/raw/*
data/processed/*
!data/crawl_exports/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/clean/.gitkeep
!data/processed/feature/.gitkeep

# OS
.DS_Store
